body {
    font-family: sans-serif;
}

.p1 {
    margin-bottom: 0px;
}

.p2 {
    margin-top: 5px;
    margin-bottom: 15px;
}

.frame-navigation {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 5px;
}

.buttons {
    margin-bottom: 5px;
    padding: 15px;
    font-size: 20px;
    width: 100%;
    background-color: white;
    border: 0px;
    border-radius: 5px;
    color: #4CB9E7;
    font-weight: bold;
}

.buttons-aktif {
    margin-bottom: 5px;
    padding: 15px;
    font-size: 20px;
    width: 100%;
    background-color: #4CB9E7;
    border: 0px;
    border-radius: 5px;
    color: white;
    font-weight: bold;
}

.buttons:active {
    background-color: #4CB9E7;
    color: white;
}

.buttons:focus {
    background-color: #4CB9E7;
    color: white;    
}

.buttons:hover {
    background-color: red;
    color: white;
}

.frame-images {
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-segitiga {
    height: 200px;
}

.frame-rumus {
    display: flex;
    justify-content: space-around;
}

.frame-rumus-luas {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    width: 250px;
}

.frame-rumus-keliling {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    width: 250px;
}

.frame-deskripsi-rumus {
    display: flex;
    justify-content: space-around;
    margin-bottom: 25px;
}

.deskripsi-rumus {
    margin: 1px;
}

.frame-perhitungan {
    border: 1px solid black;
    display: flex;
    justify-content: space-around;
    margin-top: -20px;
    padding: 10px;
}

.frame-perhitungan-luas-segitiga {
    width: 200px;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
}

.frame-button-perhitungan--luas-segitiga {
    display: flex;
    justify-content: center;
}

.frame-perhitungan-keliling-segitiga {
    width: 200px;
}

.perhitungan-segitiga-h4 {
    margin-bottom: 5px;
}

input {
    padding: 10px;
    width: 150px;
}

input:focus {
    font-weight: bold;
    color: white;
    background-color: #4CB9E7;
}

.frame-button-perhitungan {
    display: flex;
    flex-flow: row;
    justify-content: center;
    border: 1px solid black;
    width: 200px;
}

.buttons-perhitungan {
    margin-top: 15px;
    margin-right: 10px;
    padding: 10px;
    font-size: 15px;
    width: 70px;
    background-color: #4CB9E7;
    border: 0px;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    text-align: center;
}

.buttons-perhitungan:hover {
    margin-top: 15px;
    margin-right: 10px;
    padding: 10px;
    font-size: 15px;
    width: 70px;
    background-color: #43a3cc;
    border: 0px;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    text-align: center;
}

.buttons-perhitungan-reset {
    margin-top: 15px;
    padding: 10px;
    font-size: 15px;
    width: 70px;
    background-color: red;
    border: 0px;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    text-align: center;
}

.buttons-perhitungan-reset:hover {
    margin-top: 15px;
    padding: 10px;
    font-size: 15px;
    width: 70px;
    background-color: rgb(192, 0, 0);
    border: 0px;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    text-align: center;
}

.frame-hasil-perhitungan {
    border: 1px solid black;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}